.results-container{
  width: 70%;
  max-width: 700px;
  min-width: 280px;
  background-color: rgba(61, 29, 90, 0.9);
  padding: 1.3rem;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(42, 21, 61, 0.6);
  margin: 2.6rem;
  overflow: hidden;
}

.chart-container{
  display: flex;
  margin: 20px 0 20px 0;
}

.stats-table{
  border-collapse: collapse;
  border-spacing: 10rem 10rem;
  width: 100%;
  height: 200px;
  text-align: center;
}

.stats-table tr{
  border-bottom: 2px solid  rgba(231, 231, 231, 0.7);
}