@import url(https://fonts.googleapis.com/css?family=Momo+Trust+Display:regular);
@import url(https://fonts.googleapis.com/css?family=Momo+Trust+Sans:200,300,regular,500,600,700,800);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(#1c0333, #3d1d5a, #1c0333);
  color: white;
  font-family: "Momo Trust Sans", sans-serif;
}

.top-container{
  width: 100vw;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  top: 0;
  left: 0;
  padding: 10px;
  margin-top: 1.2rem;
}

h1{
  font-weight: 600;
  font-size: 2.1rem;
  font-family: "Momo Trust Display", sans-serif;
  text-transform: capitalize;
  margin-left: 1.4rem;
}

.top-desc{
  color: rgb(231, 231, 231);
  margin-left: 1.4rem;
}

.measurment-metrics{
  margin-left: 1.4rem;
  margin-right: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.measurment-metrics:hover{
  transform: scale(1.1);
}

button{
  padding: 0.5rem;
  background-color: #62378a;
  border: none;
  color: rgb(197, 197, 197);
  transition: all 0.2s ease-in-out;
}

button:hover{
  cursor: pointer;
}

.btn-1{
  border-radius: 15px 0 0 15px;
  padding-left: 0.7rem;
}

.btn-2{
  border-radius: 0 15px 15px 0;
  padding-right: 0.7rem;
}

.selected{
  background-color: #9b53df;
  color: rgb(255, 255, 255);
}

.main-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.details-container {
  width: 70%;
  max-width: 700px;
  min-width: 280px;
  background-color: rgba(61, 29, 90, 0.9);
  padding: 1.3rem;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(42, 21, 61, 0.6);
  margin: 2.6rem; 
  overflow: hidden;
}


h2{
  margin-bottom: 1.4rem;
  margin-top: 1.1rem;
  text-transform: capitalize;
}

.body-details{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
  width: 100%;
}

.input-group{
  display: flex;
  flex-direction: column;
}

.input-group label{
  margin-bottom: 5px;
}

#method{
  margin-bottom: 15px;
}

.activity-container{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  gap: 0.5rem;
}

.activity-container input{
  width: 100%;
}

.method-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 0.8rem;
}

.btn-container{
  margin-top: 1.4rem;
}

input[type=submit]{
  margin-right: 1.1rem;
  background-color: #9b53df;
  color: rgb(230, 230, 230);
}

input[type=submit], input[type=reset]{
  padding: 0.4rem;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "Momo Trust Sans", sans-serif;
}

input[type=submit]:hover, input[type=reset]:hover{
  transform: translateY(-2px);
  cursor: pointer;
  box-shadow: 0 0 15px rgba(61, 29, 90, 0.9);
}

input, select{
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
}

.description{
  width: 100vw;
  height: 100px;
  padding: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  bottom: 0;
  left: 0;
  margin: 15px 0;
  color: rgb(231, 231, 231);
}



@media only screen and (max-width: 1100px){
  .body-details{
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 1300px){
  .method-container{
    grid-template-columns: 1fr 1fr;
  }
  .main-container{
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 870px) {
  .top-container{
  height: 20%;
  margin-top: 1.1rem;
  }
  .method-container{
    grid-template-columns: 1fr;
  }
}

